<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pizza Shop</title>
  </head>
  <body>
    <h1>About page</h1>
    <button onclick="something()" class="btn btn-primary" type="button" name="button">Click me!</button>

  </body>
</html>
